body {
    margin: 0;
    font-family: monospace;
}
#renderer {
    margin: 15px auto;
    width: 500px;
}
canvas {
    display: block;
    margin: 5px auto;
    background-color: #ccc;          
}
.ui > * {
    display: inline-block; 
}
select {
    border: 3px solid #777;
    padding: 7px;
    margin: 15px 15px 0 0;
}
button {
    background-color: transparent;
    border: 3px solid #777;
    padding: 6px 9px;
    margin: 15px 15px 0 0;
    width: 40px;
    color: #777;
    cursor: pointer;
}
button:hover,
button:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
input[type="range"].pixelation {
    /* width: 300px;
    background-color: #777;
    margin: -4px 0;
    padding: 0 5px; */
}
.toggle {
    color: #81a275;
    border-color: #81a275;
}
.toggle:hover,
.toggle:focus {
    color: #fff;
    background-color: #81a275;
    border-color: #81a275;
}
.deactivated {
    color: #b14552;
    border-color: #b14552;
}
.deactivated:hover,
.deactivated:focus {
    color: #fff;
    background-color: #b14552;
    border-color: #b14552;
}
.hidden {
    display: none;
}